@charset "UTF-8";

/*
    CSS Archive by: @arthurferreira-dev
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto font by: Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Montserrat font by: Google Fonts */

:root {
    --roboto-google: 'Roboto', Arial, Helvetica, sans-serif;
    --montserrat: 'Montserrat', Verdana, monospace, sans-serif;
}

* { /* Reset Charset */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--montserrat);
    background-color: #6ca8aa;
    color: #000;
    height: 100%;
    width: 100%;
    font-size: 1em;
}

/* Skeletonz */

header {
    background-color: #6b9b9d;
    text-align: center;
    margin-bottom: 12px;
}

h2#sub-title, .imc {
    color: #e7e731;
}

header, main, footer {
    padding: 7px;
}

main {
    background-color: #549094;
    width: 90%;
    margin: auto;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

section#inputs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

section#inputs > section#names, section#alturas, section#pesos {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputs {
    margin-top: 7px;
}

button#click {
    display: block;
    margin-top: 12px;
    transition-duration: .32s;
}

p#res {
    display: none;
    margin-top: 12px;
    font-family: var(--roboto-google);
    font-size: 1.1em;
}

footer {
    background-color: #5f9597;
    font-size: 1.15em;
    text-align: center;
    line-height: 1.5em;
    margin-top: 12px;
}

/* Default */

a, abbr {
    text-decoration: none;
}

a {
    transition-duration: .40s;
}

a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: auto;
    padding: 7px;
    text-align: center;
    font-size: 0.95em;
    border: none;
    border-radius: 6.5px;
}

input[type=text] {
    background-color: #fff;
    color: #000;
    width: 250px;
    border: none;
    font-family: var(--roboto-google);
    padding: 4px;
}

#github {
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}

th, td {
    border-collapse: collapse;
    border: 1px solid #000;
    background-color: #fff;
}

table {
    width: calc(100%-35%);
}

.center {
    text-align: center;
}